* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid yellow; */
}

body {
    background: url("images/peter-thomas--a4ieKduO1Y-unsplash.jpg");
    background-size: 130%;
    background-position: 20%;
}

.library-container {
    /* visibility: hidden; */
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.library {
    position: relative;
    width: 80vw;
    height: 80vh;
    background: linear-gradient(20deg, rgba(0, 128, 0, 0.349), rgba(50, 207, 255, 0.336));
    border-radius: 30px;
    padding: 40px;
}

.library-grid {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book {
    position:relative;
    background-color: rgb(255, 241, 163);
    margin: 20px;
    height: 200px;
    /* width: 250px; */
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}

.remove-entry {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5%;
    right: 5%;
    border-radius: 20px;
    background-color: rgb(255, 126, 126);
}

.book > p {
    min-height: 1em;
    font-size: auto;
}

#b-read {
    margin-left: 10px;
}

.add-entry {
    position: absolute;
    bottom: 0%;
    width:50px;
    height:50px;
    right: 0%;
    margin: 1.5%;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(173, 255, 173);
}

.form-container {
    position: absolute;
    top:0%;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.400);
    display:flex;
    justify-content: center;
    align-items: center;
}

.form {
    position:relative;
    height: 65%;
    width: 35%;
    background: linear-gradient(80deg, rgba(231, 255, 222, 0.705), rgba(255, 255, 255, 0.219), rgba(197, 232, 255, 0.822));
    margin-bottom: 7%;
    border-radius: 20px;
    border-top: 4px solid rgba(216, 255, 212, 0.712);
    border-left: 4px solid rgba(216, 255, 212, 0.712);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    margin-top: 20px;
    margin-bottom:60px;
    font-size: 2.2rem;
    font-weight: bold;
}

.entries {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.entry {
    display:flex;
    flex-direction: column;
}

.read {
    display:flex;
    gap: 10px;
}

.entry > label,
.read > label {
    font-size: 1.4rem;
    font-weight: bold;
}

.entry > input {
    height: 25px;
    border-radius: 10px;
}

.read > input {
    size: 40px;
}

.submit {
    width: 100%;
    height:30px;
    border-radius: 10px;
    border:none;
    outline:none;
}

.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0%;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 126, 126);
}

