* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* border: 2px solid yellow; */
}

body {
    /* background: url("images/peter-thomas--a4ieKduO1Y-unsplash.jpg"); */
    background: url("images/backgroundimg.jpg");
    background-size: 120%;
    background-position: 80% 60%;
    /* background: radial-gradient(rgb(255, 253, 247), rgb(255, 255, 222)); */
    /* background-size: 130%; */
    /* background-position: 20%; */
}

.header {
    display:flex;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.767);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.452);
    font-size: 3rem;
    align-items: center;
    padding-left: 2%;
    user-select: none;
}
.header > p {
    transition: .5s;
}

.header > p:hover {
    transition: .5s;
    transform:scale(1.1) rotate(-2deg);
}

.library-container {
    /* visibility: hidden; */
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* .library {
    position: relative;
    width: 80vw;
    height: 80vh;
    background: linear-gradient(20deg, rgba(0, 128, 0, 0.349), rgba(50, 207, 255, 0.336));
    border-radius: 30px;
    padding: 40px;
} */

.library-grid {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 280px);
}

.book {
    position:relative;
    background: linear-gradient(-30deg, rgba(44, 44, 44, 0.9), rgba(32, 32, 32, 0.95));
    /* background-color: rgb(255, 241, 163); */
    margin: 20px;
    height: 240px;
    /* width: 250px; */
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    box-shadow: 5px 5px 10px 3px rgba(255, 174, 0, 0.137);
    user-select: none;
    transition:.5s;
}

.book:hover {
    transform:scale(1.1);
    box-shadow: 0px 0px 5px 5px rgba(255, 166, 0, 0.582);
    user-select:text;
}

.remove-entry {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5%;
    right: 5%;
    border-radius: 20px;
    background-color: rgb(255, 126, 126);
}

.book > p {
    min-height: 1em;
    font-size: auto;
}

#b-read {
    margin-left: 10px;
}

.add-entry {
    /* position: absolute; */
    /* bottom: 0%; */
    width:70px;
    height:70px;
    /* right: 0%; */
    /* margin: 40% 25%; */
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    color:rgba(255, 255, 255, 0.699);
    background-color: rgba(36, 35, 29, 0.788);
    /* border: 2px solid rgba(255, 208, 0, 0.445); */
    border:none;
    justify-self: center;
    align-self: center;
    transition: .5s;
}

.add-entry:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 166, 0, 0.623);
    transform:scale(1.3) rotate(180deg);
}

.form-container {
    position: absolute;
    top:0%;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.400);
    display:flex;
    justify-content: center;
    align-items: center;
}

.form {
    position:relative;
    height: 65%;
    width: 35%;
    background: linear-gradient(80deg, rgba(231, 255, 222, 0.705), rgba(255, 255, 255, 0.219), rgba(197, 232, 255, 0.822));
    margin-bottom: 7%;
    border-radius: 20px;
    border-top: 4px solid rgba(216, 255, 212, 0.712);
    border-left: 4px solid rgba(216, 255, 212, 0.712);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    margin-top: 20px;
    margin-bottom:60px;
    font-size: 2.2rem;
    font-weight: bold;
}

.entries {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.entry {
    display:flex;
    flex-direction: column;
}

.read {
    display:flex;
    gap: 10px;
}

.entry > label,
.read > label {
    font-size: 1.4rem;
    font-weight: bold;
}

.entry > input {
    height: 25px;
    border-radius: 10px;
}

.read > input {
    size: 40px;
}

.submit {
    width: 100%;
    height:30px;
    border-radius: 10px;
    border:none;
    outline:none;
}

.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0%;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 126, 126);
}

